h1 {
  font-size: 60px;
  text-align: center;
}

.paragraph {
  background-color: lightseagreen;
  padding: 24px;
}
.paragraph .inner {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.paragraph h2 {
  font-size: 24px;
  color: lightgray;
}
.paragraph p {
  font-size: 16px;
}